<div class="container-fluid navContainer d-flex p-0 align-items-center justify-content-center flex-lg-row flex-column fs-6">
    <!-- NAV LOGO -->
    <div class="container-fluid w-auto">
        <img src="https://www.logodesign.net/logo/hammer-and-bricks-in-circle-247ld.png" alt="Logo" class="navImg">
    </div>
    <!-- NAV LOGO END -->

    <!-- NAV LINKS -->
    <div class="container-fluid w-auto d-flex gap-4">
        <div class="nav-item" routerLink="">HOME</div>
        <div class="nav-item" routerLink="testimonials">CUSTOMERS</div>
        <div routerLink="about" class="nav-item">ABOUT</div>
        <div class="nav-item" routerLink="contact">CONTACT</div>
        <div routerLink="portfolio" class="nav-item">PORTFOLIO</div>
        
    </div>
    <!-- NAV LINKS END -->
</div>