body {
    padding: 100px;
    background-color: beige;
    width: 1400px;
    font-size: large;
}
table {
    width: 1200px;
    align-items: center;
    border: 1px solid gray;
}
th {
    width: 200px;
    height: 50px;
    border: 1px solid gray;
}
td {
    width: 200px;
    height: 25px;
    border: 1px solid gray;
}
