body {
    width: 100%;
    height: auto;
    background-color:beige;
}
nav {
    
    contain: content;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 25px;
    background-color: rgb(133, 154, 172);
    position: fixed;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    height: 5%;
    border: solid darkgray 2px;
    transition: 1s;
}
nav:hover {
    margin-left: 5%;
    scale: 1.01;
}
.button {
    color: rgb(53, 98, 182);
    background-color: rgb(240, 215, 132);
    margin: 10px;
    font-size: small;
    font-weight: bold;
    position: relative;
    width: 15%;
    height: 60%;
    transition: 1s;
    justify-content: baseline;
    border-radius: 10px;
}
.button:hover {
   color: red;
}
@import "imports/media_query.scss" 

