<h1>Welcome!</h1>

<div class="container">

        <p>You've clicked <span (click)="countClick()" class="btn btn-danger"> {{ clickCounter }} times</span></p>

</div>

<div class="container" [ngStyle]="{

    'background-color' :clickCounter > 4 ? 'lightgreen' : 'lightgray',
  
    'border'           :clickCounter > 4 ? '4px solid black' : none
  
    }">
  
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
  
            <p>The clickCounter is <b>GREATER </b>than 4.</p>
  
    </ng-template>
  
    <ng-template #none>
  
            <p>The clickCounter is <b>NOT GREATER </b>than 4.</p>
  
    </ng-template>
  
  </div>

  <div *ngFor="let student of students">

    <p>{{student.name}}</p>
  
    <p>{{student.age}}</p>
  
  </div>
  <form [formGroup]="info" (ngSubmit)="onSubmit()">

 

        <label>
      
          First Name:
      
          <input type="text" formControlName="firstName">
      
        </label>
      
       
      
        <label>
      
          Last Name:
      
          <input type="text" formControlName="lastName">
      
        </label>
      
       
      
        <label>
      
          Age:
      
          <input type="text" formControlName="age">
      
        </label>
      
       
      
        <label>
      
          Email:
      
          <input type="text" formControlName="email">
      
        </label>
      
       
      
        <input type="submit" class="btn btn-primary" value="Submit">
      
       
      
       </form>