    <!-- Top section -->

<div class="card text-bg-dark top position-relative border border-0">
    <div class="card-img-overlay text-center position-absolute top-50 w-100 fs-5">
      <h3 class="card-title">Benvenuto al Ristorante Il Gambero Rosso</h3>
      <p class="card-text">Delivering great food for more than 18 years!</p>
      <a routerLink="Menu" class="btn btn-success m-1">Our Menu</a>
      <a class="btn btn-success m-1">Book table</a>
    </div>
</div>
  
<!-- bottom section -->
<div class="container-fluid m-5 pt-5 gx-5 w-100 midtop border border-0">
  <div class="row">
    <div class="col">
      <img src="/assets/img/bar.jpg" width="400px" height="400px"  class="image-fluid">
    </div>
    <div class="col text-wrap">
      <h5 class="card-title ">Benvenuto al Ristorante Il Gambero Rosso</h5>
          <p class="card-text">... im Ristorante "Al Borgo"! Wir befinden uns im ersten Wiener Gemeindebezirk zwischen Stephansdom und Stadtpark. Unser Küchenchef und sein Team bereiten mit Leidenschaft und Handwerkskunst leckere italienische Spezialitäten zu. Die frische Zubereitung der Speisen ist dabei für uns eine Selbstver- ständlichkeit, genauso wie eine wechselnde Karte.</p>
            <ul>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
                <li>Lorem ipsum</li>
            </ul>
          <p class="card-text">Ob abends bei Kerzenschein oder tagsüber im Sonnenlicht, wir kümmern uns an sechs Tagen in der Woche um Ihr leibliches Wohl. In dieser besonderen Atmosphäre ergänzen sich Gemütlichkeit und Moderne. Das Ristorante “Al Borgo” kommt bei allen Freunden der italienischen Küche gut an.</p>
    </div>
  </div>
</div>
    <!-- midbottomsection -->
<div class="midbot text-center container-fluid mt-5 mb-5 border border-0" >
  <h3 class="p-2 pt-3">Why choose us</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col  ">
        <div class="card cardbot container-fluid border border-0">
          <div class="card-body">
            <p>01</p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col  ">
        <div class="card cardbot container-fluid border border-0">
          <div class="card-body">
            <p>02</p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col  ">
        <div class="card cardbot container-fluid border border-0">
          <div class="card-body">
          <p>03</p>
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- bottomsection -->

