
<div class="basket card m-5 border-dark container" *ngFor="let product of inbasket ; index as i" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.price}}$</p>
      <p class="card-text">{{product.info}}</p>
      <p class="card-text">{{product.qtty}}</p>
      <button class="btn-secondary btn" (click)="plusbtn(i)"> plus btn</button>
      <button class="btn-warning btn" (click)="minusbtn(i)">minus btn </button>
    </div>
</div>
<h3>Total price {{totalprice}}</h3>


<button class="btn btn-danger" (click)="clearbasketbtn()"> Clean basket</button>
<button class="btn btn-success m-5" (click)="buyoutbtn()"> Buyout</button>
