.bgtop{
    background-image: url(../app/images/boy-1835416.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    contain: content;
    

}
.bgbottom {
    padding-top: 10rem;
    background-image: url(../app/images/hd-wallpaper-4763731.jpg);
    background-repeat: no-repeat;
    height: 3500px;
    background-size: cover;
    background-color:rgb(16, 16, 121);opacity:0.6;
  }
