<div class="container text-center pt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <ng-template  [ngIf]="rentalcars.length > 0 "[ngIfElse]="empty">
            <div class="col" *ngFor="let car of rentalcars; index as carid">
                <div class="card p-5">
                  <img src="{{car.pic}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{car.name}}</h5>
                    <p>Rent price is {{car.price}}$ P/Day</p>
                  </div>
                  <div class="d-flex justify-content-between">
                  <button (click)="showcar(carid)" class="btn btn-success ">Rent a car</button>
                  <p class=" text1 ">available car = {{car.qtty}} </p>
                  </div>
                </div>
              </div>
        </ng-template>
        <ng-template #empty>
            <p>There are nomore cars to rent</p>
        </ng-template>  
    </div>
  </div>
  <div class="addrentalcar container text-center mt-5 mb-5">
    <h3 class="text-secondary">Here is you can add your car to rental service</h3>
    <div class="pt-5">
      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Car</span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Price</span>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Number</span>
        <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
      </div>
        <Button class=" mt-3 btn btn-secondary"> Submit</Button>
  </div>
  </div>

 