main {
    padding: 50px;
    padding-bottom: 300px;
    #mainheader{
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        .sorticon{
            background-color: white;
            border: none;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }  
    }
    #sortline {
        flex-wrap: wrap;
        display: flex;
        button{
            height: auto;
        }
    }
    .image {
        width: 100%;
        height: 300px;
    }
}