<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container ">
      <div class="collapse d-flex justify-content-around navbar-collapse">
     
        <a class="nav-link active text-white" aria-current="page" routerLink="/home">Home</a>
        <a class="nav-link active text-white" aria-current="page" routerLink="/contactus">Contact us</a>
     
        <ng-template [ngIf]="donatedamount >= 200">
          <p class="bg-warning text-dark">Vip Status earned </p>
         </ng-template>
       
          <p class="text-white">Current donation--  {{donatedamount}}$</p>
          <button class="btn btn-dark " (click)="donate100()">Donate 10$</button>
        
      </div>
    </div>
  </nav>