$color_bg_hover:red;
$color_bg_bg:black;
$color_bg_ul:pink;
$color_bg_font: green;
h1 {
    color: $color_bg_font;
}
nav {
    width: 50%;
    background-color: $color_bg_bg;
    padding: 0.2rem 1rem;
    ul{
        padding: 0.3rem;
        width: 35rem;
        background-color: $color_bg_ul;
        list-style: none;
        display: flex;
        li {
            margin: 0 5%;
            a{
                font-size: 3rem;
                color: $color_bg_font;
                text-decoration: none;
                &:hover{
                    color: $color_bg_hover;
                }
            }
        }
    }
}
html {
    font-size: 20px;
}
@import body.scss;