<div class="container-fluid footerContainer d-flex flex-column align-items-center p-0 justify-content-center">
    <div class="container-fluid w-75 d-flex flex-column justify-content-center align-items-center p-0">
        <!-- LINKS  -->
        <div class="container-fluid row row-cols-1 row-cols-lg-4 p-4 text-nowrap justify-content-center">
                
                <div class="col d-flex flex-column align-items-center justify-content-center footerImg">
                </div>
                
                <div class="col d-flex flex-column align-items-center mt-3">
                    <div class="container d-flex flex-column justify-content-center w-50 gap-1">
                        <p class="d-block text-nowrap fw-bold">Studio CodeFactory</p>
                        <a href="" class="d-block">Kettenbrückengasse 23/2/12</a>
                        <a href="" class="d-block">1050 Wien, Österreich</a>
                        <a href="" class="d-block" class="fw-bold">+43 699 12255185</a>
                        <a href="" class="d-block">example@email.com</a>
                        <a href="" class="d-block" class="fst-italic"><small>Appointments exclusively by arrangement!</small></a>
                    </div>
                </div>

                <div class="col d-flex flex-column align-items-center mt-3">
                    <div class="container d-flex flex-column justify-content-center w-50 gap-1">
                        <p class="fw-bold">Info</p>
                        <a href="" class="">Contact</a>
                        <a href="" class="">Legal Notice</a>
                        <a href="" class="">Privacy</a>
                        <a href="" class="">AGB</a>
                        <a href="" class="">Home</a>
                        <a href="" class="">News</a>
                    </div>
                </div>
            
                <div class="col d-flex flex-column align-items-center mt-3">
                        <div class="container d-flex flex-column justify-content-center w-50 gap-1">
                            <p class="fw-bold">Services</p>
                            <a href="">Application Photos Vienna</a>
                            <a href="">Portrait Photos Vienna</a>
                            <a href="">Business Photos Vienna</a>
                            <a href="">Employee Photos Vienna</a>
                            <a href="">Personal Branding</a>
                            <a href="">Baby Photos Vienna</a>
                            <a href="">Couple Photos Vienna</a>
                            <a href="">Family Photos Vienna</a>
                            <a href="">Marriage Photos Vienna
                            </a>
                        </div>
                </div>
        </div>
        <!-- LINKS END -->

    </div>
    <!-- ICONS -->
    <div class="container-fluid d-flex flex-column px-5 w-75 gap-5">
        <div class="container-fluidtext-nowrap align-self-start h4 fw-bold" style="color:#7A7A7A">Any Questions?</div>
        <div class="container-fluid d-flex justify-content-start gap-2 align-items-center p-0">
            <div class="btn text-white text-nowrap footerBtn rounded-pill">Contact Me</div>
            <button class="btn rounded-circle text-white footerBtn">
                <i class="bi bi-linkedin"></i>
            </button>
            <button class="btn rounded-circle text-white footerBtn">
                <i class="bi bi-facebook"></i>
            </button>
            <button class="btn rounded-circle text-white footerBtn">
                <i class="bi bi-instagram"></i>
            </button>
            <button class="btn rounded-circle text-white footerBtn">
                <i class="bi bi-envelope"></i>
            </button>
        </div>    
    </div>
    <!-- ICONS END -->
    
    <!-- COPYRIGHT -->
    <div class="container-fluid d-flex flex-lg-row justify-content-between gap-5 align-items-center w-75 px-5 flex-lg-row flex-column mt-3">
        <p class="text-nowrap"><small><span class="fw-bold"> CodeFactory &#169;</span> 2022</small></p>
        <p><small>Consumers have the option of submitting complaints to the EU's online dispute resolution platform: <a href="http://ec.europa.eu/odr" class="text-info">http://ec.europa.eu/odr</a></small></p>
    </div>
    <!-- COPYRIGHT END -->
</div>