h1  {
    color: brown
    background-color:antiquewhite; 
    font-style: italic;
}
div {
    background-color: blue;
    font-size: 4em;
}
#comments {
    background-color: aqua;
}
.alert {
    text-align: center;
    color: red;
}
p b {
    color: gray;
}    /* style for Descendant */
p > i {
    color: coral;
}    /* Child selector */
ul li b {
    color: aqua;
}    /* style for Descendant */

li {
    display: block;
}  /*Displaying Property*/
