<nav class="d-flex bg bg-dark justify-content-between">

    <a class="btn text-light fs-4 " href="/"><i class="text-light bi bi-house"></i></a>
    <a class="btn text-light fs-4 " href="/create"><i class="text-light bi bi-plus-lg "></i></a>

</nav>