@media screen and (min-width:769px) and (max-width:1499px)  {
    nav {
        position: absolute;
        justify-content: space-between;
        width: 100%;
        height: 2.5rem;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        .btn {
            width: 100%;
            background-color: beige;
            border: none;
            font-size: 1rem;
            &:hover {
                color: red;
            }
        }    
    }
    .searchbox {
        padding-right: 40px;
        border: none;
        display: inline-flex;
        height: auto;
        justify-content: center;
        justify-content: space-around;
        align-items: center;       
    }
    .searcharea {
        margin: 0.3rem;
        height: 2rem;
        font-weight: bold;
        background-color: transparent;
        transition: 1s;
        width: 4rem;
        font-size: 1rem;
        border: none;
        border-radius: 5%;
        color: black;
        &:hover {
            color: white;
            width: 7rem;
            background-color: gray;
        }
    }
    .searchbtn {
        width: 40px;
        height: 30px;
        background-repeat: no-repeat;
        border: none;
        background-position: center;
        background-size:40px 30px;
        background-image: url(Pictures/Searchsymbol.png);
        border-radius: 15%;
        &:hover {
            width: 40px;
            height: 30px;
            background-position: center;
            background-size:40px 30px;
            border: none;
            background-image: url(Pictures/Searchsymbolred.jpg);
            border-radius: 15%;
        }
    }
    button:active {
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
    }
    .Recipe {
        padding-left: 100px;
        padding-right: 100px;
        img {
            padding-right: 50px;
            width: 600px;
            height: auto;
        }
    }
    hr {
        margin-left: 0%;
        width: 80%;
    } 
    .Recipe {
        font-size: 1.7rem;
    }
    .aboutus { 
        background-image: url(Pictures/bg1.jpg);
        height: 900px;
        width: 100%;
        font-size: 2rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: beige;
    }
    .aboutuscontent {
        background-color: opacify($color: #0000000a, $amount:0.6);
        font-family: 'Josefin Sans', sans-serif;
        height: 900px;
    }
    .aboutustext {
        padding-top: 200px;
    }
}