.midbot{
   background-color: beige;    
    }
.card {
    background-color: rgb(227, 227, 233);  
      
}
.botcontent {
    margin-bottom: 300px;
}
.midbot{
    background-color: beige;
    margin: 100px,100px;
}
.midtop{
    background-color: beige;
    margin: 100px,100px;
}
