 <!-- midbottomsection -->
 <div class="midtop text-center container-fluid mb-5 border border-0" >
    <h3 class="p-2 pt-5">Our Branches</h3>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col p-3">
          <div class="card cardbot container-fluid border border-0">
            <div class="card-body">
              <p>01</p>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col p-3 ">
          <div class="card cardbot container-fluid border border-0">
            <div class="card-body">
              <p>02</p>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col p-3 ">
          <div class="card cardbot container-fluid border border-0">
            <div class="card-body">
            <p>03</p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="midbot text-center container-fluid mb-5 border border-0" >
    <h3 class="p-2 pt-5">Career choices</h3>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col p-3">
          <div class="card cardbot container-fluid border border-0">
            <div class="card-body">
              <p>01</p>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col p-3 ">
          <div class="card cardbot container-fluid border border-0">
            <div class="card-body">
              <p>02</p>
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col p-3 ">
          <div class="card cardbot container-fluid border border-0">
            <div class="card-body">
            <p>03</p>
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <!-- bottomsection -->


  <div class="container-fluid text-center">
    <h3>Check our Specials</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor perspiciatis quam eligendi excepturi itaque animi nihil, tenetur amet cumque quod similique voluptatum earum iste expedita et reiciendis voluptatibus quia doloremque!</p>
 

  </div>
  
<div class="container m-5 botcontent">
  <div class="card mb-3 m-5" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{dishes[0].image}} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{dishes[0].name}}</h5>
          <p class="card-text"> {{dishes[0].description}}</p>
          
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3 m-5" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{dishes[1].image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{dishes[1].name}}</h5>
          <p class="card-text"> {{dishes[1].description}}</p>
          
        </div>
      </div>
    </div>
  </div>


  <div class="card mb-3 m-5  " style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{dishes[2].image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{dishes[2].name}}</h5>
          <p class="card-text"> {{dishes[2].description}}</p>
          
        </div>
      </div>
    </div>
  </div>

</div>
  
  