<div class="container marketing">

  <!-- Three columns of text below the carousel -->

  <div class="row">

    <div  class="col-lg-4" >

      <img  class="rounded-circle"  src="https://cdn.pixabay.com/photo/2016/11/19/22/25/html5-1841458_960_720.png" 

        width="140" height="140">

      <h2>BASIC COURSE HTML / CSS</ h2>

      <p>In this course, you will learn the building blocks of both HTML and CSS, which are the foundation the web is build

        on. At the end of it, you will be able to create your first web page from scratch. More information</p>

      <p><a class="btn btn-default" href="https://www.codefactory.wien/courses-programs/" role="button">View details &raquo;</a></p>

    </div>

    <!-- /.col-lg-4 -->

    <div class="col-lg-4">

      <img class="rounded-circle-circle"  src="https://cdn.pixabay.com/photo/2015/04/23/17/41/javascript-736400_960_720.png" alt="Generic placeholder image"

        width="140"  height="140">

      <h2>BASIC COURSE JavaScript</h2>

      <p>In this course, you will learn the basic concepts and mechanisms behind JavaScript and how to use them. By using things

        like data-types, functions, loops and objects you will create your first interactive web page. More information</p>

      <p><a  class="btn btn-default" href="https://www.codefactory.wien/courses-programs/"  role="button">View details &raquo; </a></p>

    </div>

    <!-- /.col-lg-4 -->

    <div class="col-lg-4" >

      <img class="rounded-circle"  src="https://cdn.pixabay.com/photo/2016/12/28/09/36/web-1935737_960_720.png"

  alt="Generic placeholder image"  width="140" height="140">

      <h2>Full Stack Web Development</h2>

      <p>In this course, you will learn the basic concepts and mechanisms behind JavaScript and how to use them. By using things

        like data-types, functions, loops and objects you will create your first interactive web page. More information</p>

      <p><a class="btn btn-default"  href="https://www.codefactory.wien/courses-programs/" role="button">View details &raquo;</a></p>

    </div>

    <!-- /.col-lg-4 -->

  </div>

  <!-- /.row -->

  </div>