<div class="row featurette">

    <div  class="col-md-7" >

      <h2 class ="featurette-heading" >And lastly, this one.<span  class = "text-muted" >Philosophy.</span></h2>

      <p class="lead" >Nowadays, the topic of coding is becoming continually more important and IT-professionals are in increasing demand. One

        of our main industry-partners confided, that even with hiring professionals from foreign markets, the demand cannot

        be met - that is to say, good programmers are in high demand.</p>

      <br>

      <p class="lead" >The demand to teach coding as a modern "language" in schools is also voiced on a state-level both here and abroad. The

        realization of this goal, to have a high-quality and standardized IT-education in the curriculum, is still a long way

        off though. </p>

    </div>

    <div  class="col-md-5" >

      <img class ="featurette-image img-responsive center-block"  src="https://2018.vienna.wordcamp.org/files/2018/02/codefactory-vienna.png"

        alt="Generic placeholder image">

    </div >

    </div>