<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information About us</title>
    <link rel="stylesheet" href="stylemain.css">
    
</head>
<body class="background">
    <h2><a href="Home.html">Home</a></h2>
    <div class="static">
        <h3 class="center "> About us</h3>
        <p class="center Bold">I am currently attending Code Factory Full Stack Development course</p>
        <p class="center Bold">and practicing html and css.</p>
    </div>
    <footer class="right">
        <a href="contactus.html">Contact us</a>
    </footer>
</body>
</html>