<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information About us</title>
    <link rel="stylesheet" href="stylemain.css">
    <meta http-equiv="refresh" content="2">
    
</head>
<body>
    <nav>
        <a href="index.html"><b>Home</b></a>
        <a href="contactus.html"><b>Contact us</b></a>
    </nav>
    <div class="div1">
        <img src="Pic1.jpg" alt="picture">
        <div class="textindiv1">
            <h3 class="center "> About us</h3>
            <p class="center Bold">I am currently attending Code Factory Full Stack Development course</p>
            <p class="center Bold">and practicing html and css.</p>
        </div>
    </div>
   
</body>
</html>