<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title> Contact Information </title>
        <link rel="stylesheet" href="stylemain.css">
    </head>
    <body>
        <nav >
            <a href="Home.html"><b>Home</b></a>
            <a href="aboutus.html"><b>About us</b></a> 
        </nav>
        <div class="Bold left position">
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="First Name"><br>
            <br>
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" id="lastname" placeholder="Last Name"><br>
            <p>Email:<input type="text" placeholder="Johndoe@example.com"></p>
            <p>Phone number:<input type="number" placeholder="004312345678912"></p>
            <label for="message"></label>
            <br>
            <p>Message </p>
            <textarea id="message" name="message" rows="5" cols="30">
            </textarea>
            <br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
        
    </body>
</html>