<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="stylemain.css">
    <meta name="author" content="Gangarig Nyamsuren"
    
</head>
<body>
    <h2><a href="Home.html">Home</a></h2>
    <p class="center">Here is some space for content for the future</p>
    <footer class="right">
        <p>
            <a href="aboutus.html"><b>About us</b></a> 
            <a href="contactus.html"><b>Contact us</b></a>
        </p>
    </footer>
</body>
</html>