<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="stylemain.css">
    <meta name="author" content="Gangarig Nyamsuren"
    <meta http-equiv="refresh" content="1">
    
</head>
<body>
    <p></p>
    <h1><u><a href="C:\Users\ganga\OneDrive\Desktop\FSWD\Templates\Home.html">HOME</a> </u></h1>
    <footer>
        <p>
            <a href="C:\Users\ganga\OneDrive\Desktop\FSWD\Templates\aboutus.html"><b>About us</b></a> 
            <a href="C:\Users\ganga\OneDrive\Desktop\FSWD\Templates\contactus.html"><b>Contact us</b></a>
        </p>
    </footer>
</body>
</html>