footer {
    position: fixed;
    background-color: gray;
    right: 0;
    bottom: 0;
    width: 100%;
}
.Bold {
    font-weight: bold;
}
body  {
    background-color: beige;
}
.right {
    text-align: right;
}
.center {
  text-align: center;
}
.background {
    background-image: url('Pic1.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}