
body  {
    background-color:rgb(247, 236, 222)
}
.left{
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
.background {
    background-image: url('Pic1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
 }
.position {
    position: absolute;
    top: 150px;
    left: 100px; 
 }
.static {
    position: static;
}
nav{
    font-size: 1.5em;
    background-color: rgb(233, 218, 193);
}
footer {
    position: fixed;
    background-color: gray;
    right: 0;
    bottom: 0;
    width: 100%;
}
.Bold {
    font-weight: bold;
}
div {
    height: 40%;
    width: 20%;
    border-style: double;
    border-color: rgb(158, 210, 198);
}