
body  {
    background-color:rgb(247, 236, 222)
}
.left{
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.position {
    position: absolute;
    top: 150px;
    left: 100px; 
 }
.relative {
    position: relative;
}
nav{
    font-size: 1.5em;
    background-color: rgb(233, 218, 193);
}
footer {
    position: fixed;
    background-color: gray;
    right: 0;
    bottom: 0;
    width: 100%;
}
.Bold {
    font-weight: bold;
}
.div1{
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    margin: 10px;
    justify-content: center;
}
.textindiv1 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 500px;
    top: 820px;
    right: 730px;
}