{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center mt-3 ">Add Event to the List</h1>
    <div class="container w-25">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}