*{
   background-color: beige;
}
img {
    transition: 1s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img:hover {
    scale: 1.1;
}

.container {
    display: grid;
    grid-template-columns: repeat(8,150px);
    grid-template-rows: repeat(8,300px);
    gap: 20px;
}
.item1 {
    grid-area: 1/1/2/5;
}
.item2 {
    grid-area: 1/5/3/9;
}
.item3 {
    grid-area: 2/1/2/3;
}
.item4 {
    grid-area: 2/3/2/5;
}
.item5 {
    grid-area: 3/1/3/5;
}
.item6 {
    grid-area: 3/5/3/9;
}