@media screen and (max-width: 1000px) {
  body {
    justify-content: center;
    align-items: center;
    background-position: bottom 100px;
    margin: 2%;
    nav {
        justify-content: center;
        align-items: center;
        width: 99%;
        .btn {
            font-size: small;
            font-weight: bold;
        }
    }
  }
}
