<div class="row featurette">

    <div  class="col-md-5" >
  
        <img class ="featurette-image img-responsive center-block"  src="https://www.ncchomelearning.co.uk/media/how-to/become-professional-photographer.png"
        width="320" height="300">
  
      </div >
  
    <div  class="col-md-7" >
  
      <h2 class ="heading" >STUDIO JACKPHOTO 
        photographer in Wien - AdvertizePhoto -
         Photoshooting - Businessphotos</h2>
         <br>
         <!-- <span class="subtitle">"Hallo, I am Jack"</span> -->
  
      <p class="lead" >Thanks very much for visiting.
        I am Jackline but most people call me Jack. I am a professional headshot photographer that makes people feel comfortable in front of the camera based in Vienna Austria. There is something special about transforming the self-confidence/perception a person has of themselves, through photography. When not in the studio, you can find me cycling, spending time with my garden, drinking coffee, or going out with friends, eating, wine gums (especially the black ones). Check out my other shooting projects.
        My duty is to shoot a wide variety of subjects, including people, animals, and wide variety of products.
        Ok, have not addressed that last one, yet. If you need someone for wedding photography, lifestyle photography, personal branding photography, family photography, portraits, boudoir, baby, real estate, landscape, or any other type of photography, send me a note and I can make a recommendation according to individual wishes.
        </p>
        
    </div>  
        
        <section class="photo">
    <div class="container text-center">
  
        <!-- <div>Some tags before</div> -->
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="../../assets/images/pic1.jpg">
  
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../../assets/images/pic2.jpg">
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../../assets/images/pic3.jpg">
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../../assets/images/pic4.jpg">
        </ng-template> 
        <ng-template carouselSlide>
          <img src="../../assets/images/pic5.jpg">
        </ng-template> 
        <ng-template carouselSlide>
          <img src="../../assets/images/pic6.jpg">
        </ng-template> 
        <ng-template carouselSlide>
          <img src="../../assets/images/pic7.jpg">
        </ng-template> 
        <ng-template carouselSlide>
          <img src="../../assets/images/pic8.jpg">
        </ng-template> 
        <ng-template carouselSlide>
          <img src="../../assets/images/pic9.jpg">
        </ng-template> 
        <ng-template carouselSlide>
          <img src="../../assets/images/pic10.jpg">
        </ng-template> 
  
        
      </owl-carousel-o>
      <!-- <div>Some tags after</div> -->
  
    </div>
    </section>
  </div>
  
  