


#gallery {
    display: grid;
    grid-template-columns: repeat( 12, 1fr);
    grid-template-rows: repeat(50, 300px);
    object-fit: scale-down;
    margin: 100px;
    margin-top: 200px;

    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;
}
.cards{
    margin-bottom: 300px;
}

#profiles{
    display: flex;
    justify-content: space-around;
  
}
.profilepic{
max-width: 400px;
height: auto;
}
.cardtitle{
    object-fit: scale-down;
}
.imgportfolio {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imgportfolio:hover{
    scale: 1.1;
    transition: 1s;
    opacity: 0.8;
    
}
.img1 {
    background-image: url(./assets/portfolio/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: 1/1/4/4;
}
.img2 {
    grid-area: 1/4/4/7;
     background-image: url(./assets/portfolio/2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img3 {
    grid-area: 1/7/4/10;
     background-image: url(./assets/portfolio/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img4 {
    grid-area: 1/10/4/13;
     background-image: url(./assets/portfolio/4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img5 {
    grid-area:  4/1/10/4;
     background-image: url(./assets/portfolio/5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img6{
    grid-area: 4/4/7/7;
     background-image: url(./assets/portfolio/6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img7{
    grid-area: 4/7/7/10;
     background-image: url(./assets/portfolio/7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.img8{
    grid-area: 7/4/10/7;
     background-image: url(./assets/portfolio/8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}.img9{
    grid-area: 7/7/10/10;
     background-image: url(./assets/portfolio/9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img10{
    grid-area: 4/10/10/13;
     background-image: url(./assets/portfolio/10.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img11{
    grid-area: 10/1/16/4;
     background-image: url(./assets/portfolio/11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img12{
    grid-area: 10/4/16/7;
     background-image: url(./assets/portfolio/12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img13{
    grid-area: 10/7/13/10;
     background-image: url(./assets/portfolio/13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img14{
    grid-area: 10/10/13/13;
     background-image: url(./assets/portfolio/14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img15{
    grid-area: 13/7/16/10;
     background-image: url(./assets/portfolio/15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img16{
    grid-area: 13/10/16/13;
     background-image: url(./assets/portfolio/16.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img17{
    grid-area: 16/1/20/5;
     background-image: url(./assets/portfolio/17.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img18{
    grid-area: 16/5/20/9;
     background-image: url(./assets/portfolio/18.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img19{
    grid-area: 16/9/20/13;
     background-image: url(./assets/portfolio/19.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img20{
    grid-area: 20/1/24/5;
     background-image: url(./assets/portfolio/20.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img21{
    grid-area: 20/5/24/9;
     background-image: url(./assets/portfolio/21.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img22{
    grid-area: 20/9/24/13;
     background-image: url(./assets/portfolio/22.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img23{
    grid-area: 24/1/27/4;
     background-image: url(./assets/portfolio/23.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img24{
    grid-area: 24/4/27/7;
     background-image: url(./assets/portfolio/24.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img25{
    grid-area: 24/7/27/10;
     background-image: url(./assets/portfolio/25.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img26{
    grid-area: 24/10/27/13;
     background-image: url(./assets/portfolio/26.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img27{
    grid-area: 27/1/33/7;
     background-image: url(./assets/portfolio/27.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img28{
    grid-area: 27/7/33/13;
     background-image: url(./assets/portfolio/28.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img29{
    grid-area: 33/1/37/5;
     background-image: url(./assets/portfolio/29.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img30{
    grid-area: 33/5/37/8;
     background-image: url(./assets/portfolio/30.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img31{
    grid-area: 33/8/37/13;
     background-image: url(./assets/portfolio/31.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img32{
    grid-area: 37/1/43/4;
     background-image: url(./assets/portfolio/32.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img33{
    grid-area: 37/4/43/7;
     background-image: url(./assets/portfolio/33.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img34{
    grid-area: 37/7/43/10;
     background-image: url(./assets/portfolio/34.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img35{
    grid-area: 37/10/43/13;
     background-image: url(./assets/portfolio/35.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img36{
    grid-area: 43/1/48/6;
     background-image: url(./assets/portfolio/36.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.img37{
    grid-area: 43/6/48/13;
     background-image: url(./assets/portfolio/37.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width:2560px) {
    #gallery{
        justify-content: center;
        align-items: center;
        margin: 20px;
        margin-top: 50px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat( 12, 1fr);
        grid-template-rows: repeat(50, 150px);
        object-fit: scale-down;
    }
    
}
@media screen and (max-width:1440px) {
    #gallery{
        justify-content: center;
        align-items: center;
        margin: 20px;
        margin-top: 50px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat( 12, 80px);
        grid-template-rows: repeat(50, 100px);
        object-fit: scale-down;
    }
  

    
}
@media screen and (max-width:1024px) {
    #gallery{
        justify-content: center;
        align-items: center;
        margin: 20px;
        margin-top: 50px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat( 12, 70px);
        grid-template-rows: repeat(50, 90px);
        object-fit: scale-down;
    }
   
    
}

@media screen and (max-width:968px) {
    #gallery{
        margin: 20px;
        margin-top: 50px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat( 12, 40px);
        grid-template-rows: repeat(50, 50px);
        object-fit: scale-down;
    }
 
    
}
@media screen and (max-width:600px) {
    #gallery{
        margin: 20px;
        margin-top: 50px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat( 12, 20px);
        grid-template-rows: repeat(50, 30px);
        object-fit: scale-down;
    }
    
}




