
<!-- Top Section -->



<div class="text-center m-5 pt-5 topsection text-white">
    <div class="card-body">
      <h3 class="card-title">We are your ultimate</h3>
      <h3 class="card-title">Winter experience Provider!</h3>
      <div class="pt-3">
        <p class="p-0">with hundreds of winter holiday destinations offered, we are your</p>
        <p class="p-0">natural choice for planning it all out</p>
      </div>
      <a href="#" class="text-white btn bg-transparent">Learn More</a>
    </div>
</div>



<!-- Middle Section -->



<div class="row row-cols-4 midsection">
    <div class="col">
      <div class="card h-100 bg-transparent text-white text-center">
        <img ssrc="../images/man-498473.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card h-100 bg-transparent text-white text-center">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 bg-transparent text-white text-center">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 bg-transparent text-white text-center">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
    </div>
  
</div>


